/* Write your code here. */
* {
  box-sizing: border-box;
}

.navbar-container {
  background-color: #ffffff33;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.navbar-logo-container {
  display: flex;
}
.navbar-logo {
  width: 40px;
}
.navbar-logo-text {
  font-size: 15px;
  font-weight: 500;
  margin: 10px;
}
.navbar-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-text {
  font-size: 15px;
  font-weight: 500;
  margin: 10px;
}

@media (min-width: 768px) {
  .navbar-container {
    padding: 10px 80px;
  }
  .navbar-logo {
    width: 45px;
  }
  .navbar-logo-text {
    font-size: 20px;
  }

  .navbar-text {
    font-size: 20px;
  }
}
